<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="slds-grid slds-wrap">
      <nav class="slds-col slds-size_1-of-1">
        Page Header Component
      </nav>
      <main class="slds-col slds-size_1-of-2">
        Image
      </main>
      <aside class="slds-col slds-size_1-of-2">
        Tab Component
      </aside>
      <section class="slds-col slds-size_1-of-1">
        Card Component
      </section>
    </div>
  </body>
</html>
